

.topnav {
    overflow: hidden;
    position: fixed;
    z-index: 10;
    // border-bottom: 10px solid #f8f8f8;
    width: 100%;
    // backdrop-filter: brightness(90%);
    // background-color: #922B21;
    background-color:rgba(146, 43, 33, 0);;
    transition: ease 1s;
    a {
      float: left;
      display: block;
      color: rgba(255, 255, 255,0.8);
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      font-size: 17px;
      font-family: 'Roboto Slab', serif;  
      transition: color ease 0.4s;
    
      &:hover {
        // background-color: ;
        color: rgba(255, 255, 255,1);
        text-decoration: overline;

      }
      
    }
    a.active {
      // background-color: #922B21;
      // border: 2px solid #f0f0f0;
      // color: white;
      
      text-decoration: overline;
      color: rgba(255, 255, 255,1);
    }
    a.icon {
      display: none;
      background-color: #922B21;
    }
    
  }

  @media only screen and (max-width: 768px) {
    .topnav{
      background-color:rgba(146, 43, 33, 1)
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: fixed;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;

    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
  }