
.title-cont{
  // height:50vh;
  
  display:flex;
  justify-content: center;
  padding-top: 40vh;
  width: 60vw;
  margin-left: 20vw;
}
.timer-cont{
  margin-top: 10%;
  margin-left: 60%;
  width: 30%;
  display:flex;
  justify-content: space-around;
}
.countdown_block{
  border: 3px solid #922B21;
  backdrop-filter: brightness(250%) blur(1px);
  text-align: center;
  width: 20%;
  padding: 0.3rem;
  background-color: rgba(255,255,255,0.5);
  &:hover{
    backdrop-filter: brightness(350%) blur(1px);
  }
}
.countdown_digit{
  color: #922B21;
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;  
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);

}
.countdown_txt{
  color: #922B21;
  font-size: 1rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.one{
  height: calc(100vh - 10px);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../img/dali_marseille_bw.jpg);
}

@media only screen and (max-width: 768px) {
  .timer-cont{
    padding-top: 30vh;
    margin-left: 10%;
    width: 80%;

  }
  .title-cont{
    // height:50vh;
    
    display:flex;
    justify-content: center;
    padding-top: 30vh;
    width: 80vw;
    margin-left: 10vw;
  }

}

